[submodule "dependencies/vimpager"]
	path = dependencies/vimpager
	url = https://github.com/rkitover/vimpager.git
[submodule "dependencies/clang_complete"]
	path = dependencies/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule ".vim/bundle/python-mode"]
	path = .vim/bundle/python-mode
	url = https://github.com/klen/python-mode.git
[submodule "dependencies/rednose"]
	path = dependencies/rednose
	url = https://github.com/gfxmonk/rednose.git
[submodule "dependencies/termstyle"]
	path = dependencies/termstyle
	url = https://github.com/gfxmonk/termstyle.git
